<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Chicago Data Portal Exploration — Loading and Querying with SQLite

**Short description:**  
This notebook demonstrates how to load three CSV datasets (Chicago census, public schools, and crime data) into a local SQLite database (`FinalDB.db`) and use SQL queries to explore and answer a series of analytical questions.

**Objectives**
- Learn how to import CSV datasets into a local SQLite database.
- Practice writing and running SQL queries from within a Jupyter notebook.
- Explore dataset joins and simple aggregations to extract insights from Chicago census, schools, and crime data.

**Notice about documentation:**  
The original notebook submission (course assignment) was kept intact. I have **only modified documentation (comments, headings, markdown)** and made **minimal, necessary corrections** to ensure the notebook runs without errors. All rights related to the lab/workshop design and original exercise belong exclusively to **IBM Corporation**. This notebook includes additional documentation for clarity, but the intellectual property of the original exercise is retained by IBM.

---

## Table of contents

1. Dependencies & execution instructions  
2. Connect to SQLite and create the database  
3. Load CSV datasets into SQLite tables  
4. SQL queries for answering exploratory questions  

---

## Understand the datasets

The following three datasets available on the city of Chicago's Data Portal will be used:

1.  <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Socioeconomic Indicators in Chicago</a>
2.  <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Public Schools</a>
3.  <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Crime Data</a>

### 1. Socioeconomic Indicators in Chicago

This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2](https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 3. Chicago Crime Data

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2](https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

---

### Download the datasets

This notebook requires you to have these three tables populated with a subset of the whole datasets.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. 

Use the links below to read the data files using the Pandas library. 

* Chicago Census Data

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

* Chicago Public Schools

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

* Chicago Crime Data

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

**NOTE:** Ensure you use the datasets available on the links above instead of directly from the Chicago Data Portal. The versions linked here are subsets of the original datasets and have some of the column names modified to be more database friendly which will make it easier to complete this assignment.

## 1) Dependencies & execution instructions

This cell lists required packages and provides instructions to run the notebook locally.

**Recommended local execution steps:**
1. Create and activate a Python virtual environment:
   - `python -m venv venv`
   - `source venv/bin/activate` (macOS / Linux) or `venv\Scripts\activate` (Windows)
2. Install dependencies:
   - `pip install -r requirements.txt`
3. Launch Jupyter Notebook:
   - `jupyter notebook`
4. Open this notebook and run cells top-to-bottom.

**Notes:**
- The notebook uses Pandas `read_sql_query` method. 
- Make sure `ipython-sql` and `sqlalchemy` are installed.
- Internet access is required to download the CSV files in the loading steps.

In [1]:
import pandas as pd
import sqlite3

## 2) Connect to SQLite and prepare database

This section creates a local SQLite database file (`FinalDB.db`), establishes a connection and prepares a cursor to interact with the database from Python. The database file will be created in the same working directory as the notebook and can be reused by subsequent SQL cells.

In [2]:
con = sqlite3.connect('FinalDB.db')
cur = con.cursor()

## 3) Load CSV datasets into SQLite tables

This section downloads three CSV files (Census, Public Schools, Crime data) from the course-hosted URLs and writes them to the SQLite database as tables:
- `CENSUS_DATA`
- `CHICAGO_PUBLIC_SCHOOLS`
- `CHICAGO_CRIME_DATA`

The notebook uses `pandas.read_csv()` and `DataFrame.to_sql(..., method='multi')` to save tables into SQLite. These steps will overwrite existing tables of the same names in `FinalDB.db`.

In [4]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [6]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01")
df.to_sql('CENSUS_DATA', con, if_exists = 'replace', index=False, method='multi')

78

In [32]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01",
                 usecols=["Elementary, Middle, or High School", "SAFETY_SCORE"])
df.to_sql('CHICAGO_PUBLIC_SCHOOLS', con, if_exists = 'replace', index=False, method='multi')

566

In [8]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01")
df.to_sql('CHICAGO_CRIME_DATA', con, if_exists = 'replace', index=False, method='multi')

533

In [14]:
%sql sqlite:///FinalDB.db

## 4) SQL queries (exploratory)

This section runs several SQL queries via `pd.read_sql_query` to answer exploratory questions such as:
- Total number of crimes recorded in the CRIME table
- Community area names and numbers with per capita income less than 11000
- Case numbers for crimes involving minors
- Kidnapping crimes involving a child
- Kind of crimes that were recorded at schools
- Type of schools along with the average safety score for each type
- 5 community areas with the highest % of households below poverty line
- Most crime prone community area
- Community area with the highest hardship index
- Community area name with the most number of crimes

Each query is executed by `pd.read_sql_query` and will display results inline when the notebook runs.

### 4.1 Total number of crimes recorded in the CRIME table

In [18]:
query = "SELECT count(*) AS cnt FROM CHICAGO_CRIME_DATA;"
df = pd.read_sql_query(query, con)
df

   cnt
0  533

### 4.2 Community area names and numbers with per capita income less than 11000

In [20]:
query = "select COMMUNITY_AREA_NAME, COMMUNITY_AREA_NUMBER, PER_CAPITA_INCOME FROM CENSUS_DATA WHERE PER_CAPITA_INCOME < 11000;"

df = pd.read_sql_query(query, con)
df

  COMMUNITY_AREA_NAME  COMMUNITY_AREA_NUMBER  PER_CAPITA_INCOME
0  West Garfield Park                   26.0              10934
1      South Lawndale                   30.0              10402
2         Fuller Park                   37.0              10432
3           Riverdale                   54.0               8201

### 4.3 Case numbers for crimes involving minors

Children are not considered minors for the purposes of crime analysis

In [21]:
query = "select CASE_NUMBER, DESCRIPTION FROM CHICAGO_CRIME_DATA WHERE DESCRIPTION LIKE '%MINOR%';"

df = pd.read_sql_query(query, con)
df

  CASE_NUMBER                    DESCRIPTION
0    HL266884  SELL/GIVE/DEL LIQUOR TO MINOR
1    HK238408   ILLEGAL CONSUMPTION BY MINOR

### 4.4 Kidnapping crimes involving a child

In [22]:
query = "select * from CHICAGO_CRIME_DATA where PRIMARY_TYPE = 'KIDNAPPING' AND DESCRIPTION LIKE '%CHILD%';"

df = pd.read_sql_query(query, con)
df

,ID,CASE_NUMBER,DATE,BLOCK,IUCR,PRIMARY_TYPE,DESCRIPTION,LOCATION_DESCRIPTION,ARREST,DOMESTIC,...,DISTRICT,WARD,COMMUNITY_AREA_NUMBER,FBICODE,X_COORDINATE,Y_COORDINATE,YEAR,LATITUDE,LONGITUDE,LOCATION
0,5276766,HN144152,2007-01-26,050XX W VAN BUREN ST,1792,KIDNAPPING,CHILD ABDUCTION/STRANGER,STREET,0,0,...,15,29.0,25.0,20,1143050.0,1897546.0,2007,41.874908,-87.750249,"(41.874908413, -87.750249307)"

### 4.5 Kind of crimes that were recorded at schools 

With no repetitions

In [23]:
query = "select PRIMARY_TYPE, LOCATION_DESCRIPTION from CHICAGO_CRIME_DATA where LOCATION_DESCRIPTION LIKE '%SCHOOL%' GROUP BY PRIMARY_TYPE;"

df = pd.read_sql_query(query, con)
df

             PRIMARY_TYPE       LOCATION_DESCRIPTION
0                 ASSAULT    SCHOOL, PUBLIC, GROUNDS
1                 BATTERY    SCHOOL, PUBLIC, GROUNDS
2         CRIMINAL DAMAGE    SCHOOL, PUBLIC, GROUNDS
3       CRIMINAL TRESPASS    SCHOOL, PUBLIC, GROUNDS
4               NARCOTICS    SCHOOL, PUBLIC, GROUNDS
5  PUBLIC PEACE VIOLATION  SCHOOL, PRIVATE, BUILDING

### 4.6 Type of schools along with the average safety score for each type

In [33]:
query = 'select "Elementary, Middle, or High School", AVG(SAFETY_SCORE) FROM CHICAGO_PUBLIC_SCHOOLS GROUP BY "Elementary, Middle, or High School";'

df = pd.read_sql_query(query, con)
df

  Elementary, Middle, or High School  AVG(SAFETY_SCORE)
0                                 ES          49.520384
1                                 HS          49.623529
2                                 MS          48.000000

### 4.7 5 community areas with the highest % of households below poverty line

In [25]:
query = "select COMMUNITY_AREA_NAME, PERCENT_HOUSEHOLDS_BELOW_POVERTY FROM CENSUS_DATA ORDER BY PERCENT_HOUSEHOLDS_BELOW_POVERTY DESC LIMIT 5;"

df = pd.read_sql_query(query, con)
df

  COMMUNITY_AREA_NAME  PERCENT_HOUSEHOLDS_BELOW_POVERTY
0           Riverdale                              56.5
1         Fuller Park                              51.2
2           Englewood                              46.6
3      North Lawndale                              43.1
4  East Garfield Park                              42.4

### 4.8 Most crime prone community area

In [26]:
query = "select COMMUNITY_AREA_NUMBER, COUNT(*) as CRIME_COUNT FROM CHICAGO_CRIME_DATA GROUP BY COMMUNITY_AREA_NUMBER ORDER BY COUNT(*) DESC LIMIT 1;"

df = pd.read_sql_query(query, con)
df

   COMMUNITY_AREA_NUMBER  CRIME_COUNT
0                   25.0           43

### 4.9 Community area with highest hardship index

In [27]:
query = "select COMMUNITY_AREA_NAME, HARDSHIP_INDEX from CENSUS_DATA where HARDSHIP_INDEX = (select MAX(HARDSHIP_INDEX) FROM CENSUS_DATA);"

df = pd.read_sql_query(query, con)
df

  COMMUNITY_AREA_NAME  HARDSHIP_INDEX
0           Riverdale            98.0

### 4.10 Community area name with the most number of crimes

In [28]:
query = "select CCD.COMMUNITY_AREA_NUMBER, CD.COMMUNITY_AREA_NAME, COUNT(*) as CRIME_COUNT FROM CHICAGO_CRIME_DATA CCD, CENSUS_DATA CD WHERE CCD.COMMUNITY_AREA_NUMBER = CD.COMMUNITY_AREA_NUMBER GROUP BY CCD.COMMUNITY_AREA_NUMBER ORDER BY CRIME_COUNT DESC LIMIT 1;"

df = pd.read_sql_query(query, con)
df

   COMMUNITY_AREA_NUMBER COMMUNITY_AREA_NAME  CRIME_COUNT
0                   25.0              Austin           43

## Author(s)

<h4> Hima Vasudevan </h4>
<h4> Rav Ahuja </h4>
<h4> Ramesh Sannreddy </h4>

## Contribtuor(s)

<h4> Malika Singla </h4>
<h4>Abhishek Gagneja</h4>

## Change log

| Date       | Version | Changed by        | Change Description                             |
| ---------- | ------- | ----------------- | ---------------------------------------------- |
|2023-10-18  | 2.6     | Abhishek Gagneja  | Modified instruction set |
| 2022-03-04 | 2.5     | Lakshmi Holla     | Changed markdown.                   |
| 2021-05-19 | 2.4     | Lakshmi Holla     | Updated the question                           |
| 2021-04-30 | 2.3     | Malika Singla     | Updated the libraries                          |
| 2021-01-15 | 2.2     | Rav Ahuja         | Removed problem 11 and fixed changelog         |
| 2020-11-25 | 2.1     | Ramesh Sannareddy | Updated the problem statements, and datasets   |
| 2020-09-05 | 2.0     | Malika Singla     | Moved lab to course repo in GitLab             |
| 2018-07-18 | 1.0     | Rav Ahuja         | Several updates including loading instructions |
| 2018-05-04 | 0.1     | Hima Vasudevan    | Created initial version                        |

## <h3 align="center"> © IBM Corporation 2023. All rights reserved. <h3/>